/* verify-container 스타일 */
.verify-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.verify-header {
  margin-bottom: 30px;
}

.verify-main {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.result-container {
  margin-top: 20px;
}

.result-container h2 {
  font-size: 1.5rem;
  color: #333;
}

.result-container p {
  font-size: 1.25rem;
  color: #000;
  font-weight: bold;
}

.verifyBtn {
  padding: 10px 20px;
  background: linear-gradient(to right bottom, #9381ff, #6ee7b7);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.verifyBtn:hover {
  background: linear-gradient(to right bottom, #9381ff, #6ee7b7);
}

.error-message {
  color: red;
  font-size: 1.1rem;
  margin-top: 20px;
}
