/* 전체 컨테이너 스타일 */
.signin-container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  padding: 20px;
  box-sizing: border-box; */
}

/* 카드 스타일 */
.signin-card {
  width: 500px;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* 제목 스타일 */
.signin-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

/* 탭 버튼 컨테이너 */
.signin-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* 탭 버튼 스타일 */
.signin-tab {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  text-transform: none;
  /* transition: background 0.3s, color 0.3s; */
}

.signin-tab:hover {
  background: rgba(0, 0, 0, 0.05);
}

/* 입력 필드 스타일 */
.MuiTextField-root {
  margin-bottom: 20px;
}

/* 에러 메시지 */
.error-message {
  font-size: 14px;
  color: red;
  margin-top: 10px;
  text-align: left;
}

/* 로그인 버튼 */
.a {
  background: linear-gradient(to right bottom, #9381ff, #6ee7b7);
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  /* transition: background 0.3s; */
}

.MuiButton-containedPrimary:hover {
  background-color: #1e63d1;
}

/* 카카오 버튼 스타일 */
.kakao .MuiButton-containedPrimary {
  background-color: #fee500; 
  color: #000;
  border: none;
}

.kakao .MuiButton-containedPrimary:hover {
  background-color: #fdda00; 
  transform: scale(1.05);
}

/* 네이버 버튼 스타일 */
.naver .MuiButton-containedPrimary {
  background-color: #03c75a; 
  color: #fff; 
  border: none;
}

.naver .MuiButton-containedPrimary:hover {
  background-color: #02b751; 
  transform: scale(1.05);
}
