.password-reset-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  height: 100vh;
  /* background-color: #f9f9f9; */
  padding-top: 50px; 
}

.password-reset-box {
  width: 400px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  text-align: left;
}

input {
  margin-bottom: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* 버튼 스타일 css */
.confirm {
  padding: 10px;
  background: linear-gradient(to right bottom, #9381ff, #6ee7b7);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.confirm:hover {
  background: linear-gradient(to right bottom, #9381ff, #6ee7b7);
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}